
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body{
    font-family: "Helvetica Neue","Helvetica", "Arial", "sans-serif"
}

.login-title{
    padding-bottom: 42px;
    font-weight: 800;
}

.login-area{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items : center;
}

.login-label-text{
    color: #333;
    font-weight:600;
    font-size: 18px;
    line-height: 20px; 
}

.login-input-div{
    width: 100%;
    color: #333;
    display: flex;
    flex-direction : column;
    justify-content : center;
    align-items : flex-start;
    margin-bottom: 16px;
    
}

.login-input-name{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding: 0 1em; 
    
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: #333;
    font-size: 20px;
    border: solid 2px #adb5bd;
}
.login-input-name:focus{
    outline: none
}

.login-footer{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction : row;
    justify-content : space-between;
    color: #333;
}

.login-footer>div{
    cursor: pointer;
}

.register-name-area{
    display: flex;
    flex-direction: row;
    align-items : center;
    width: 80%;
}

#register-name-btn{
    cursor: pointer;
    height: 50px;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1.3333;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border: 0;
    outline: 0;
}

#register-name-btn:hover{
    background: #2e6da4;
    color: white;
}

#aregister-name-btn:focus{
    background-color:#2e6d84;
    color: white;
}


.register-input-div{
    width: 80%;
    display: flex;
    flex-direction : column;
    justify-content : center;
    align-items : flex-start;
    margin-bottom: 18px;
}

.tmp{
    height: 40px;
    width: 10px;
}

.register-header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 8px;
}

.register-header>span{
    font-size: 42px;
    font-weight: 800;
}
.register-header>p{
    font-size: 16px;
    color:#333;
}

.register-body{
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-password{
    margin-bottom: 48px;
}

.label-text{
    color: #333;
    font-weight:600;
    font-size: 18px;
    line-height: 20px; 
}

#inputName{
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding: 0 1em; 
    
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: #333;
    font-size: 20px;
    border: solid 2px #adb5bd;
    
}
#inputName:focus {
    outline: none
}

.btn-div{
    width: 80%;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.btn-div-login{
    width: 100%;
    height: 50px;
    margin-top: 48px;
    margin-bottom: 14px;
}

.modal { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%; 
    display: none; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.hidden{
    display: none;
}

.modal_content{
    width:500px; 
    height:770px;
    transform: translateX(-50%) translateY(-50%); 
    top: 50%;
    left: 50%; 
    background:#fff; 
    border-radius:10px;
    position:relative;
    text-align:center;
    box-sizing:border-box;
    padding:74px 0;
    line-height:23px; 
    cursor:pointer;
    color:#333;
}

.my-btn-color{
    background-color:#e7e7e7;
    
}