<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>MeetMe Personal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header bg-dark">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <h3 class="navbar-brand"><a href="index.html" class="text-light">KT AIVLE</a></h3>
                    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link text-light" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link text-light" href="diary.html">diary</a></li>
                            <li class="nav-item"><a class="nav-link text-light" href="lecture.html">lecture</a></li>
                            <li class="nav-item"><a class="nav-link text-light" href="news.html">news</a></li>
                            <li class="nav-item"><a class="nav-link text-light" href="hire.html">hire</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area p_120">
        <div class="container">
            <div class="">
                <div class="col-lg-12 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">

                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <!-- 날짜 태그 -->
                                    <li class="lnr lnr-calendar-full" id="date">12 Dec, 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <!-- 일기 제목-->
                            <h1 id="title" class="text-secondary">Astronomy Binoculars A Great Alternative</h2>
                                <!-- 일기 내용-->
                                <p id="content" class="excert">
                                    MCSE boot camps have its supporters and its detractors. Some people do not
                                    understand why you should have to spend money on boot camp when you can get the MCSE
                                    study materials yourself at a fraction.
                                    <br>
                                    Boot camps have its supporters and its detractors. Some people do not understand why
                                    you should have to spend money on boot camp when you can get the MCSE study
                                    materials yourself at a fraction of the camp price. However, who has the willpower
                                    to actually sit through a self-imposed MCSE training. who has the willpower to
                                    actually sit through a self-imposed
                                    <br>
                                    Boot camps have its supporters and its detractors. Some people do not understand why
                                    you should have to spend money on boot camp when you can get the MCSE study
                                    materials yourself at a fraction of the camp price. However, who has the willpower
                                    to actually sit through a self-imposed MCSE training. who has the willpower to
                                    actually sit through a self-imposed
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!--================= modal ===========================-->

	<nav class="navbar fixed-bottom">
		<div class="container-fluid nav justify-content-end">
			<a class="navbar-brand " href="#">
				<button type="button" class="btn border" data-bs-toggle="modal" data-bs-target="#exampleModal"
					data-bs-whatever="@getbootstrap" id="modal_btn"><img src="img/diary.png"></button>
			</a>
		</div>
	</nav>


	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">오늘의 일기</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">제목:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">내용:</label>
							<textarea class="form-control" style="height: 300px" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary">저장</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--================= End modal ===========================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope.pkgd.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>