{% extends 'diaryapp/layout.html' %}
{% block content %}

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area p_120 mr-5">
        <div class="container">
            <div class="">
                <div class="col-lg-12 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">

                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list">
                                    <!-- 날짜 태그 -->
                                    <li class="lnr lnr-calendar-full" id="date">12 Dec, 2017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <!-- 일기 제목-->
                            <h1 id="title" class="text-secondary">Astronomy Binoculars A Great Alternative</h2>
                                <!-- 일기 내용-->
                                <p id="content" class="excert">
                                    MCSE boot camps have its supporters and its detractors. Some people do not
                                    understand why you should have to spend money on boot camp when you can get the MCSE
                                    study materials yourself at a fraction.
                                    <br>
                                    Boot camps have its supporters and its detractors. Some people do not understand why
                                    you should have to spend money on boot camp when you can get the MCSE study
                                    materials yourself at a fraction of the camp price. However, who has the willpower
                                    to actually sit through a self-imposed MCSE training. who has the willpower to
                                    actually sit through a self-imposed
                                    <br>
                                    Boot camps have its supporters and its detractors. Some people do not understand why
                                    you should have to spend money on boot camp when you can get the MCSE study
                                    materials yourself at a fraction of the camp price. However, who has the willpower
                                    to actually sit through a self-imposed MCSE training. who has the willpower to
                                    actually sit through a self-imposed
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!--================= modal ===========================-->

	<nav class="navbar fixed-bottom">
		<div class="container-fluid nav justify-content-end">
			<a class="navbar-brand " href="#">
                {% load static %}
				<button type="button" class="btn border" data-bs-toggle="modal" data-bs-target="#exampleModal"
					data-bs-whatever="@getbootstrap" id="modal_btn"><img src="{% static 'img/diary.png' %}"></button>
			</a>
		</div>
	</nav>


	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">오늘의 일기</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">제목:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">내용:</label>
							<textarea class="form-control" style="height: 300px" id="message-text"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary">저장</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--================= End modal ===========================-->
{% endblock %}