{% extends 'diaryapp/layout.html' %}
{% block content %}
{% load static %}
<!--================Blog Area =================-->
<style>
    .lec{
        text-align:left;
    }
    .blog_right_sidebar{
        padding:20px;
    }
    .img-fluid{
        opacity:0.8;
    }
    
    #myModal {
        display:none;
        position:fixed;
        top:0px;
        left:0px;
        width:100vw;
        height:100%;
        background:#0000008c;
        z-index:9999;
    }

    #myModal .modal-body {
        text-align:center;
        margin:0 auto;
        padding-top:100px;
    }

    .img-area{
        margin-top: 30px;
    }
</style>

<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
</script>


<section class="blog_area single-post-area p_120" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-post row">
                    <!-- 네비게이션 바-->
                    <div class="col-lg-12">
                        <div class="navigation-area">
                            <div class="row mt-5">
                                <div class="col-lg-6 col-md-6 col-12
                                nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="arrow">
                                        <a href=""><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="">
                                            <h4>{ 이전 게시물의 제목 }</h4>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="">
                                            <h4>{다음 게시물의 제목 }</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href=""><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 수정 삭제 버튼 -->
                    <div class="col-lg-12">
                        <div class="float-right mt-3">
                            <button id="fixBtn" class="btn ">수정</button>
                            <button id="delBtn" class="btn">삭제</button>
                        </div>
                    </div>

                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                <a>Food,</a>
                                <a class="active">Technology,</a>
                                <a>Politics,</a>
                                <a>Lifestyle</a>
                            </div>
                            <ul class="blog_meta list">
                                <li><a href="">Mark wiens<i class="lnr lnr-user"></i></a></li>
                                <li><a href="">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a></li>
                                <li><a href="">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                <li><a href="">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                            </ul>
                            <ul class="social-links">
                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li><a href=""><i class="fa fa-github"></i></a></li>
                                <li><a href=""><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- TIL 타이틀 및 게시글  -->
                    <div class="col-lg-9 col-md-9 blog_details">
                        {%for i in til_list%}
                        <h2>{{i.title}}</h2>
                        <p class="excert">
                            {{i.content}}
                            {%endfor%}
                        </p>
                        <p>
                            Boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself
                            at a fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                        </p>
                        <p>
                            Boot camps have its supporters and its detractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get the MCSE study materials yourself
                            at a fraction of the camp price. However, who has the willpower to actually sit through a
                            self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                        </p>
                    </div>

                    <!-- 이미지 영역 -->
                    <div class="img-area">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <a href="{% static 'img/blog/feature-img.jpg' %}" download><img class="img-fluid" src="{% static 'img/blog/feature-img.jpg' %}"></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-lg-4 mt-5">
                <div class="blog_right_sidebar " style="border-radius: 20px;">
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="{% static 'img/blog/aivler.png' %}" alt="">
                        <h4>user id</h4>
                        <div class="social_icon">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-github"></i></a>
                            <a href=""><i class="fa fa-behance"></i></a>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget ">
                        <h3 class="widget_title btn-color" style={background-color:#337ab7 !important;}>수강중인 강좌</h3>
                        <div class="media post_item">
                            <img src="{% static 'img/blog/popular-post/post1.jpg' %}" alt="post">
                            <div class="media-body">
                                <div class="1" onclick="popup(this);" style="cursor:pointer">
                                    <h3>IT트랜드 맛보기</h3>
                                </div>
                                {% for i in lec1 %}
                                    <p class="lec">-{{i.detail}}</p>
                                {% endfor%}
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static 'img/blog/popular-post/post2.jpg' %}" alt="post">
                            <div class="media-body">                                
                                <div class="2" onclick="popup(this);" style="cursor:pointer">
                                    <h3>IT 프로젝트 관리도구</h3>
                                </div>
                                {% for j in lec2 %}
                                <p class="lec">-{{j.detail}}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static 'img/blog/popular-post/post3.jpg' %}" alt="post">
                            <div class="media-body">
                                <div class="3" onclick="popup(this);" style="cursor:pointer">
                                    <h3>SQL</h3>
                                </div>
                                {% for i in lec3%}
                                <p class="lec">-{{i.detail}}</p>
                                {% endfor%}
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static 'img/blog/popular-post/post4.jpg' %}" alt="post">
                            <div class="media-body">
                                <div class="4" onclick="popup(this);" style="cursor:pointer">
                                    <h3>가상화&클라우드</h3>
                                </div>                                 
                                {% for i in lec4%}
                                <p class="lec">-{{i.detail}}</p>
                                {% endfor%}
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href=""><img class="img-fluid" src="{% static 'img/lec/self.jpg' %}" alt=""></a>
                        <audio controls>
                            <source src="{% static 'img/lec/self-motivation.mp3' %}">                                               
                        <div class="br"></div>
                    </aside>

                    <!-- 이미지 모달 -->
                    <div id="myModal" onclick="closepop()">
                        <div class="modal-body">
                            <img id="modal-img" src="">
                        </div>                    
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" language="javascript">

    function popup(a){

        console.log(a);
        var aa = $(a).attr("class");

        var b = "http://127.0.0.1:8000/static/img/lec/lec_"+aa+".png"

        $('#modal-img').attr("src",b)
        $('#myModal').show();  
    }
    
    function closepop() {
        $('#myModal').hide();
    }
</script>
<!--================Blog Area =================-->





<!--================= modal ===========================-->

<nav class="navbar fixed-bottom">
    <div class="container-fluid nav justify-content-end">
        <a class="navbar-brand ">
            <button type="button" class="btn border" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@getbootstrap" id="modal_btn"><img src="{% static 'img/blog/diary.png' %}"></button>
        </a>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">오늘의 일기</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--모달 form 전송-->
            <form id="uploadForm" enctype="multipart/form-data">    
                <div class="modal-body">
                        <div class="mb-3">
                            <label for="message-title" class="col-form-label">제목:</label>
                            <input type="text" class="form-control" id="message-title">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">내용:</label>
                            <textarea class="form-control" style="height: 300px" id="message-text"></textarea>
                        </div>
                        <div class="md-3">
                            <input type="file" id="imageInput" multiple/>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="uploadDiary();">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--================= End modal ===========================-->

<script>
    function uploadDiary(){
        
        const csrftoken = getCookie("csrftoken");

        const title = document.getElementById("message-title").value;
        const content = document.getElementById("message-text").value;
        
        console.log(title + "  " + content);
        
        // 파일을 여러개 선택할 수 있으므로 files 라는 객체
        const imageInput = $("#imageInput")[0];
        console.log(imageInput);
        console.log("imageInput: ", imageInput.files)
        
        const formData = new FormData();
        
        formData.append("title", title);
        formData.append("content", content);
        
        for(var i = 0 ; i < imageInput.files.length ; i++){
            formData.append(imageInput.files[i].name, imageInput.files[i]);
        }
        
        $.ajax({
            url: "http://127.0.0.1:8000/diaryapp/diary/api/upload",
            {% comment %} enctype: 'multipart/form-data',  {% endcomment %}
            type:"post",
            processData: false,
            contentType: false,
            data: formData,
            success: function(res){
                if(res.code == 200) {
                    $('#exampleModal').modal("hide");
                    alert("성공적으로 저장되었습니다.");
                }else if (res.code == 500) {
                    alert("로그인이 필요합니다.")
                }
                else{
                    alert("TIL 등록이 실패하였습니다.")
                }

                
            },
            err: function(err){
                console.log("err:", err)
            }
        }) 
    }
</script>

<!-- Post 관련 키 -->
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% endblock %}

