<section class="top-area" style="margin: 0">
	<div style="color: #333; height: 600px">	
	</div>
<section>

{% extends 'diaryapp/layout.html' %}
{% block content %}

<section class="feature_area blog_right_sidebar" 
	style="padding-bottom: 100px; background-color: rgb(255, 255, 255); border-color: white; color:#333">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
    </script>



<!--강의 start-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-4 mb-4"><a href="/diaryapp/lecture">강의</a></h2>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card-box  disable-box">
                <h3><a href="" class="mt-2 text-color">어제 강의</a></h3>
                <p class="text-secondary">
					{% if lecture_b %}
							{%for l in lecture_b%}
								<h3 id="lecture_title" class="text-center">{{l.topic}}</h3>
								<p id="lecture_content">{{l.detail}}</p>
							{%endfor%}
						{%else%}
							<h2 id="lecture_title" class="text-center"> "휴일입니다"</h2>
						{%endif%}
				</p>
                <a href="" class="btn btn-sm btn-color float-right">더보기 ></a>
            </div>
        </div>

		<div class="col-md-6 col-lg-4">
            <div class="card-box">
                <h3><a href="" class="mt-2 text-color">오늘 강의</a></h3>
                <p class="text-secondary">
					{% if lecture_b %}
							{%for l in lecture%}
								<h3 id="lecture_title" class="text-center">{{l.topic}}</h3>
								<p id="lecture_content">{{l.detail}}</p>
							{%endfor%}
						{%else%}
							<h2 id="lecture_title" class="text-center"> "휴일입니다"</h2>
						{%endif%}
				</p>
                <a href="" class="btn btn-sm btn-color float-right">더보기 ></a>
            </div>
        </div>

		<div class="col-md-6 col-lg-4">
            <div class="card-box  disable-box">            
                <h3><a href="" class="mt-2 text-color">내일 강의</a></h3>
                <p class="text-secondary">
					{% if lecture_f %}
							{%for l in lecture_f%}
								<h3 id="lecture_title" class="text-center">{{l.topic}}</h3>
								<p id="lecture_content">{{l.detail}}</p>
							{%endfor%}
						{%else%}
							<h2 id="lecture_title" class="text-center"> "휴일입니다"</h2>
						{%endif%}
				</p>
                <a href="" class="btn btn-sm btn-color float-right">더보기 ></a>
            </div>
        </div>

    </div>
</div>
<!--강의 end-->
</section>

<section class="feature_area blog_right_sidebar" 
	style="padding-bottom: 100px; border-color: white; color:#333">

	<div class="container" style="padding-bottom: 100px;">
		<div class="row">
			<div class="col-12">
				<h2 class="mt-4 mb-4"><a href="/diaryapp/news">IT 소식</a></h2>
			</div>
			<div class="col-md-5 col-lg-12">


				<div class="gallery_f_inner row imageGallery1 ">
					<!-- 뉴스 start -->
					{%for n in news%}
					
					<div class="col-lg-3 col-md-6" onclick="location.href='/diaryapp/news'" style="cursor: pointer;">
						
						<div class="feature_item border">
							<p>{{n.company}}</p>
							<h4 class="news-header">{{n.title}}</h4>
							<p>{{n.content}}</p>
						</div>
					</div>
					{%endfor%}
					<!-- 뉴스 end -->
				</div>

				
			</div>
		</div>
	</div>
</section>

<!--라효 테스트-->
<section class="feature_area blog_right_sidebar" 
	style="padding-bottom: 100px; background-color: rgb(255, 255, 255); border-color: white; color:#333; ">

	<div class="container">
		<div class="row">
			
			<div class="col-12">
				<h2 class="mt-4 mb-4"><a href="/diaryapp/hire">취뽀 일정</a></h2>
			</div>

			<!--채용 컨텐츠-->
			<div class="col-md-6 col-lg-4">
				<div class="card-box">
					{%for r in recruit%}
					<div class="recruit-company" style={color:#333;}>
						<h4><a href="" class="mt-2 recruit-text">{{r.company_name}}</a></h4>

						<div class="recruit-title">
							<p class="">{{r.job_title}}</p>
						</div>

						<div  class="recruit-content">
							<p>{{r.required_career}}</p>	
							<p>{{r.deadlines}}</p>	
						</div>
					</div>
					{%endfor%}
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="card-box">
					{%for r in recruit_2%}
					<div class="recruit-company" style={color:#333;}>
						<h4><a href="" class="mt-2 recruit-text">{{r.company_name}}</a></h4>

						<div class="recruit-title">
							<p class="">{{r.job_title}}</p>
						</div>

						<div  class="recruit-content">
							<p>{{r.required_career}}</p>	
							<p>{{r.deadlines}}</p>	
						</div>
					</div>
					{%endfor%}
				</div>
			</div>

			<div class="col-md-6 col-lg-4">
				<div class="card-box">
					{%for r in recruit_3%}
					<div class="recruit-company" style={color:#333;}>
						<h4><a href="" class="mt-2 recruit-text">{{r.company_name}}</a></h4>

						<div class="recruit-title">
							<p class="">{{r.job_title}}</p>
						</div>

						<div  class="recruit-content">
							<p>{{r.required_career}}</p>	
							<p>{{r.deadlines}}</p>	
						</div>
					</div>
					{%endfor%}
				</div>
			</div>

		</div>
	</div>
</section>
<!--라효 테스트-->
{% endblock %}