{% extends 'diaryapp/layout.html' %}
{% block content %}

<section class="feature_area blog_right_sidebar" 
style="padding-bottom: 100px; background-color: rgb(255, 255, 255); border-color: white;">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
    </script>

	<div class="container">
		<div class="gallery_f_inner row imageGallery1 ">
			<script>
				function logout(){
					console.log("logout");
					const data = axios.get('/diaryapp/api/user/logout');
				}
			</script>
			
			<!--- 강의 start -->
			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
				<div class="h_gallery_item">
					<div class="g_item_text">
						<h4 aria-placeholder="강의를 넣어주세요!">어제의 강의</h4>
					</div>

					<div class="h-100 p-5 feature_item border"
						style="border-top-right-radius: 50px; border-bottom-left-radius: 50px;">
						<!-- 강의 제목 넣는 태그-->
						{% if lecture_b %}
						{%for l in lecture_b%}
						<h2 id="lecture_title" class="text-center">{{l.topic}}</h2>
						<p id="lecture_content">{{l.detail}}</p>
						{%endfor%}
						{%else%}
						<h2 id="lecture_title" class="text-center"> "휴일입니다"</h2>
						{%endif%}
						<a href="/diaryapp/lecture" class="btn btn-outline-success mt-3">더보기</a>

					</div>


				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul creative">
				<div class="h_gallery_item">
					<div class="g_item_text">
						<h4>오늘의 강의</h4>
					</div>

					<div class="h-100 p-5 text-dark feature_item border" style="border-radius: 5px;">
						<!-- 강의 제목 넣는 태그-->
						{% if lecture %}
						{%for l in lecture%}
						<h2 id="lecture_title" class="text-center">{{l.topic}}</h2>
						<p id="lecture_content">{{l.detail}}</p>
						{%endfor%}
						{%else%}
						<h2 id="lecture_title" class="text-center"> "강의가 없어요!"</h2>
						{%endif%}
						<a href="/diaryapp/lecture" class="btn btn-outline-primary mt-3">더보기</a>

					</div>


				</div>
			</div>
			<div class="col-lg-4 col-md-4 manipul creative design print">
				<div class="h_gallery_item">
					<div class="g_item_text">
						<h4>내일의 강의</h4>
					</div>

					<div class="h-100 p-5 feature_item border"
						style="border-top-left-radius: 50px; border-bottom-right-radius: 50px;">
						<!-- 강의 제목 넣는 태그-->
						{% if lecture_f %}
						{%for l in lecture_f%}
						<h2 id="lecture_title" class="text-center">{{l.topic}}</h2>
						<p id="lecture_content">{{l.detail}}</p>
						{%endfor%}
						{%else%}
						<h2 id="lecture_title" class="text-center"> "내일은 휴일"</h2>
						{%endif%}
						<a href="/diaryapp/lecture" class="btn btn-outline-success mt-3">더보기</a>

					</div>

				</div>
			</div>
			<!--- 강의 end -->
		</div>
	</div>
</section>

<section class="feature_area blog_right_sidebar"
	style="background-color: #fcf8f8; padding-bottom: 100px; padding-top: 100px; border-color: white;">
	<div class="container">
		<div class="card border-light" style="background-color: #fcf8f8;">
			<div class="card-title">
				<h1><a href="/diaryapp/news">뉴스보자!</a></h1>
			</div>
			<div class="card-subtitle">
				<h4>오늘의 뉘우스</h4>
			</div>
		</div>

		<div class="gallery_f_inner row imageGallery1 ">
			<!-- 뉴스 start -->
			{%for n in news%}
			<div class="col-lg-3 col-md-6" onclick='window.open("{{n.link}}")' style="cursor: pointer;">
				<div class="feature_item border">
					<i class="flaticon-city"></i>
					<h4>{{n.title}}</h4>
					<p>{{n.content}}</p>
				</div>
			</div>
			{%endfor%}
			 {% comment %} <div class="col-lg-3 col-md-6" onclick="location.href='/diaryapp/news'" style="cursor: pointer;">
				<div class="feature_item border">
					<i class="flaticon-city"></i>
					<h4>{뉴스2을 넣어주세요!}</h4>
					<p>{뉴스2을 넣어주세요!}</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6" onclick="location.href='/diaryapp/news'" style="cursor: pointer;">
				<div class="feature_item border">
					<i class="flaticon-city"></i>
					<h4>{뉴스3을 넣어주세요!}</h4>
					<p>{뉴스3 내용을 넣어주세요!}</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6" onclick="location.href='/diaryapp/news'" style="cursor: pointer;">
				<div class="feature_item border">
					<i class="flaticon-city"></i>
					<h4>{ 뉴스4을 넣어주세요! }</h4>
					<p>{ 뉴스5 내용을 넣어주세요! }</p>
				</div>
			</div>  {% endcomment %}

			<!-- 뉴스 end -->
		</div>
	</div>
</section>

<section class="feature_area white_feature p_100" 
style="padding-bottom: 100px;">
	<div class="container">
		<div class="card " style="border-color: white;">
			<div class="card-title">
				<h1>오늘의 <a href="/diaryapp/hire">채용공고</a></h1>
			</div>
			<div class="card-subtitle">
				<h4>에이블러 모두 취업뽀개기</h4>
			</div>
		</div>
		<div class="feature_inner row">
			<div class="col-lg-4 col-md-6" onclick="location.href='/diaryapp/hire'" style="cursor: pointer;">
				<div class="feature_item">
					<i class="flaticon-city"></i>
					{%for r in recruit%}
					<h4>{{r.company_name}}</h4>
					<p>{{r.job_title}}</p>
                    {%endfor%}
				</div>
			</div>
			<div class="col-lg-4 col-md-6" onclick="location.href='/diaryapp/hire'" style="cursor: pointer;">
				 <div class="feature_item">
					<i class="flaticon-skyline"></i>
					{%for r in recruit_2%}
					<h4>{{r.company_name}}</h4>
					<p>{{r.job_title}}</p>
					{%endfor%}
				</div>
			</div>
		 <div class="col-lg-4" onclick="location.href='/diaryapp/hire'" style="cursor: pointer;">
				<div class="feature_item">
					<i class="flaticon-sketch"></i>
					{%for r in recruit_3%}
					<h4>{{r.company_name}}</h4>
					<p>{{r.job_title}}</p>
					{%endfor%}
				</div>
			</div> 		

		</div>
	</div>

</section>

{% endblock %}