{% load static %}
<!doctype html>
<html lang="ko">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{% static '/img/favicon.ico' %}" />
	<title>에이블 다이어리</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">

	<!-- calendar css-->
	<link rel="stylesheet" href="{% static 'css/calendar.css' %}">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>	
</head>

<body style="overflow-x: hidden" onload="bodyFunction()">
	<script> function bodyFunction() {
		$.ajax({
			url: "/diaryapp/api/user/session",
			type: "get",
			success: function(res) {
				console.log(res);
				if(res.code == 500) {
					alert("로그인이 필요합니다.")
					location = '/diaryapp/login/'
				}
			}
		});
	} 
	</script>



	<!--================Header Menu Area =================-->
	<header class="header-section" style="margin-bottom: 100px;">
		<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block "
			data-navbar-on-scroll="data-navbar-on-scroll"
			style="background-color: white; transition: none 0s ease 0s;">
			<div class="container">
				<a class="navbar-brand d-inline-flex " href="/diaryapp/main">
					<img class="d-inline-block" src="{% static 'img/logo/logo.png' %}" alt="logo" height=60px>
					<span
						class="text-1000 fs-0 fw-bold ms-2 pr-2 ">
					</span>
				</a>
				<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse col-md-5" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item px-2"><a class="nav-link fw-medium" aria-current="page" href="/diaryapp/main"><h3>Home</h3></a></li>
						<li class="nav-item px-2"><a class="nav-link fw-medium" href="/diaryapp/diary"><h3>diary</h3></a></li>
						<li class="nav-item px-2"><a class="nav-link fw-medium" href="/diaryapp/lecture"><h3>lecture</h3></a></li>
						<li class="nav-item px-2"><a class="nav-link fw-medium" href="/diaryapp/news"><h3>news</h3></a></li>
						<li class="nav-item px-2"><a class="nav-link fw-medium" href="/diaryapp/hire"><h3>hire</h3></a></li>
						<li class="nav-item px-2"><a class="nav-link fw-medium" href="/diaryapp/team"><h3>team</h3></a></li>
						<li class="nav-item px-2 mr-3"><a class="nav-link fw-medium" href="{%url 'diaryapp:logout'%}"><h3>Logout</h3></a></li>
					</ul>
				</div>
				{% comment %} <script>
					function logout(){
						console.log("logout");
						const data = axios.get(
							'/diaryapp/api/user/logout'
						).then(function (result) {
							const data = result.data;
							console.log(data);
							if(data.result){
								alert("로그아웃 되었습니다.");
							}
							else{
								alert("로그아웃이 실패되었습니다.");
							}
						});
					}
				</script> {% endcomment %}
			</div>
		</nav>
	</header>

	<!--================Header Menu Area =================-->


	{% block content %}
	{% endblock %}

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
	<script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
</body>

</html>