{% extends 'diaryapp/layout.html' %}
{% block content %}
{% load static %}


<style>
	table th {
		font-size: 16pt;
		text-align: center
	}

	#h_line:hover {
		background-color: rgba(101, 197, 192, 0.4);
	}

	.sortable tr {
		cursor: pointer;
	}

	tr {
		text-align: center;
	}
	.table {}
		.table .thead-light th {background-color: #4472c4;font-size: 1.4em;color: white;font-weight: bold;}
		.table .tindex{width:2%;}
		.table td.tindex {text-align: right;padding-right: 10px; text-align: center}
		.table .tdate {width:12%;}
		.table .ttopic {width:auto;word-break:keep-all;}
		.table .tdetail {width:30%;}
		.table .tprofessor {/*width:3%;*/}
		#myModal {display:none;position:fixed;top:0px;left:0px;width:calc(100vw);height:100%;background:#0000008c;z-index:9999;}
		#myModal .modal-body {text-align:center;margin:0 auto;padding-top:100px;}
		#myModal .modal-body #modal-img1 {margin-left:20px;}
</style>

<section class="py-0" id="collection">
	<div class="container">
		<div class="row h-100 gx-2">
			<div class="col-md-6">
				<div class="card card-span h-100 "><img class="card-img h-100" src="{% static 'img/news/news1.png' %}">
					<div class="card-img-overlay bg-dark-gradient">
						<div class="p-2 p-md-1 p-xl-1">
							<h1 class=" text-dark">Urban Stories </h1>
							<h5 class="fs-2 text-dark">collection</h5>
						</div>
					</div><a class="stretched-link" href="#!"></a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-span h-100 "><img class="card-img h-100" src="{% static 'img/news/news2.jpg' %}">
					<div class="card-img-overlay bg-dark-gradient">
						<div class="p-2 p-md-2 p-xl-1 d-flex flex-column flex-end-center align-items-baseline h-100">
							<h1 class="fs-md-4 fs-lg-7 text-dark">Urban Stories </h1>
							<h5 class="text-dark">collection</h5>
						</div>
					</div><a class="stretched-link" href="#!"></a>
				</div>
			</div>
		</div>
	</div>
	<!-- end of .container-->

</section>
<!-- end of .container-->

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
	data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full" class="mt-5">
	<div class="page-wrapper">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-9 mt-5">
					<div class="card">
						<div class="card-body">
							<h2 class="card-title text-info">뉘우스</h2>
							<h6 class="card-subtitle"><code>매일 핫뉴스를 전해드립니다.</code></h6>
						</div>
						<div class="table-responsive">
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th scope="col" class="col-0">index</th>
										<th scope="col" class="col-0">date</th>
										<th scope="col" class="col-3">title</th>
										<th scope="col" class="col-6">content</th>
										<th scope="col">company</th>
									</tr>
								</thead>

								<tbody>
								{% for i in news_data %}
									<tr id="h_line" onclick='window.open("{{i.link}}")' style='cursor:pointer;'>
										<td>{{i.index}}</td>
										<td>{{i.date}}</td>
										<td>{{i.title}}</td>
										<td>{{i.content}}</td>
										<td>{{i.company}}</td>
									</tr>
								{% endfor%}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- End PAge Content -->
			<!-- 페이징시작 -->
			<div id="paging">
				<ul class="pagination justify-content-center" style="margin-top: 2rem;">
					{% if news_data.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?&page={{ news_data.previous_page_number }}"><svg
								xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-caret-left-fill" viewBox="0 0 16 16">
								<path
									d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
							</svg></a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link" tabindex="-1" aria-disabled="true" href="#"><svg
								xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-caret-left" viewBox="0 0 16 16">
								<path
									d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
							</svg></a>
					</li>
					{% endif %}
					<!-- 페이지 리스트 -->
					{% for page_number in news_data.paginator.page_range %}
					{% if page_number == news_data.number %}
					<li class="page-item active" aria-current="page">
						<a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
					</li>
					{% endif %}
					{% endfor %}
					{% if news_data.has_next %}
					<li class="page-item">
						<a class="page-link" href="?&page={{ news_data.next_page_number }}"><svg
								xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-caret-right-fill" viewBox="0 0 16 16">
								<path
									d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
							</svg></a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link" tabindex="-1" aria-disabled="true" href="#"><svg
								xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-caret-right" viewBox="0 0 16 16">
								<path
									d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
							</svg></a>
					</li>
					{% endif %}
				</ul>
			</div>
			<!-- 페이징 끝 -->
		</div>

	</div>
</div>

{% endblock %}