{% extends 'diaryapp/layout.html' %}
{% block content %}
{% load static %}
<section class="team mb-5" >
    <div class="container">

      <div class="section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Team</h2>
        <p>충남/충북 1반 3조</p>
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'img/team/team7.jpg' %}" class="img-fluid  rounded-circle" alt="">
            </div>
            <div class="member-info">
              <h4>김지수 매니저님</h4>
              <span>Manager</span>
              <p>충남/충북 1반 3조의 매니점입니다.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'img/team/team1.jpg' %}" class="img-fluid  rounded-circle" alt="">
            <div class="member-info">
              <h4>장고 강사님</h4>
              <span>CTO</span>
              <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>
            </div>
          </div>
        </div>
      </div>

    </div>
</section>



<section class="team">
  <div class="container">

    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Team</h2>
      <p>충남/충북 1반 3조</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member aos-init aos-animate" data-aos="zoom-in">
          <div class="member-img">
            <img src="{% static 'img/team/animal.jpg' %}" class="img-fluid rounded-circle" alt="">
          </div>
          <div class="member-info">
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <p>Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
          <div class="member-img">
            <img src="{% static 'img/team/team3.jpg' %}" class="img-fluid  rounded-circle" alt="">
          </div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Product Manager</span>
            <p>Aspernatur iste esse aliquam enim et corporis. Molestiae voluptatem aut eligendi quis aut. Libero vel amet voluptatem eos rerum non doloremque</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'img/team/team4.jpg' %}" class="img-fluid  rounded-circle" alt="">
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'img/team/team5.jpg' %}" class="img-fluid  rounded-circle" alt="">
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'img/team/team6.jpg' %}" class="img-fluid  rounded-circle" alt="">
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'img/team/team8.jpg' %}" class="img-fluid  rounded-circle" alt="">
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>Ut enim possimus nihil cupiditate beatae. Veniam facere quae non qui necessitatibus rerum eos vero. Maxime sit sunt quo dolor autem est qui quaerat</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}